---
layout: default
active: 30haribercerita
leading: Ini adalah kumpulan beberapa tulisanku di #30haribercerita. Silakan dibaca jika berkenan.
---

<div class="topic clearfix">
	<div class="topic__header">
		<h1 class="topic__title">#30HariBercerita</h1>
		<p class="topic__lead">Adalah sebuah proyek yang mengajak siapapun untuk rutin ngeblog selama 30 hari penuh tiap awal tahun. Pertama kali digagas pada 2013 dengan menggunakan web blog, lalu mulai lagi pada 2016 dengan Instagram. Kalau penasaran seperti apa #30HariBercerita, <a href="https://www.instagram.com/30haribercerita/" target="_blank">silakan kepoin mereka melalui tautan berikut ini</a>. Oh iya, halaman ini adalah kumpulan beberapa tulisanku di #30haribercerita.</p>
	</div>
</div>

{% if site.posts %}
   
    <!-- article -->
    {% for post in site.categories['30haribercerita'] %}
    <article class="article__item clearfix" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        {% if post == 1 %}
        <span>ssfd</span>
        {% endif %}
        {% if post.image_thumb %}
        <div class="article__img">
            <a href="{{ post.url | absolute_url }}" itemprop="url">
                <img src="{{ post.image_thumb | absolute_url }}" alt="{{ post.title }}">
            </a>
        </div>
        {% endif %}
        <div class="article__right{% if post.image_thumb %}{% else %} -noimg{% endif %}">
            <h2 class="article__title" itemprop="name">
                <a href="{{ post.url | absolute_url }}" class="article__link" itemprop="url">
                    {% if post.pretag %}{{ post.pretag }} - {% endif %}{{ post.title }}
                </a>
            </h2>
            <p class="article__lead">{% if post.leading %}{{ post.leading }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
            <div class="article__bar">
                <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: "%b %d, %Y" }}</time>
                <div class="article__author">oleh: <a href="/about">{{ post.author }}</a></div>
            </div>
        </div>
    </article>
    {% endfor %}

{% else %}

    <p>No post</p>

{% endif %}