---
layout: default
active: design
leading: Meskipun bukan seorang designer murni, tapi dari dulu suka banget sama topik UI/UX. Selalu menyenangkan kalo ngomongin topik ini karena pasti banyak insight baru yang didapat. Hal seru lainnya tentang UI/UX adalah kita bisa mengamati tingkah laku manusia dalam menggunakan teknologi.
image: /asset/post_images/2020-07-11-what-is-design-system-in-ui-ux.jpg
---

<div class="topic clearfix">
	<div class="topic__header">
		<h1 class="topic__title">#UIUX</h1>
		<p class="topic__lead">Meskipun bukan seorang designer murni, tapi dari dulu suka banget sama topik UI/UX. Selalu menyenangkan kalo ngomongin topik ini karena pasti banyak insight baru yang didapat. Hal seru lainnya dari UI/UX adalah kita bisa mengamati tingkah laku manusia dalam menggunakan teknologi.</p>
	</div>
</div>

{% if site.posts %}
   
    <!-- article -->
    {% for post in site.categories['design'] %}
    <article class="article__item clearfix" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        {% if post == 1 %}
        <span>ssfd</span>
        {% endif %}
        {% if post.image_thumb %}
        <div class="article__img">
            <a href="{{ post.url | absolute_url }}" itemprop="url">
                <img src="{{ post.image_thumb | absolute_url }}" alt="{{ post.title }}">
            </a>
        </div>
        {% endif %}
        <div class="article__right{% if post.image_thumb %}{% else %} -noimg{% endif %}">
            <h2 class="article__title" itemprop="name">
                <a href="{{ post.url | absolute_url }}" class="article__link" itemprop="url">
                    {{ post.title }}
                </a>
            </h2>
            <p class="article__lead">{% if post.leading %}{{ post.leading }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
            <div class="article__bar">
                <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: "%b %d, %Y" }}</time>
                <div class="article__author">oleh: <a href="/about">{{ post.author }}</a></div>
            </div>
        </div>
    </article>
    {% endfor %}

{% else %}

    <p>No post</p>

{% endif %}