---
layout: default
active: blog
pagination: 
  enabled: true
---

{% if site.posts %}
   
    <!-- article -->
    {% for post in paginator.posts %}
    <article class="article__item clearfix" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        {% if post == 1 %}
        <span></span>
        {% endif %}
        {% if post.image_thumb %}
        <div class="article__img">
            <a href="{{ post.url | absolute_url }}" itemprop="url">
                <img src="{{ post.image_thumb | absolute_url }}" alt="{{ post.title }}" width="125" height="125">
            </a>
        </div>
        {% endif %}
        <div class="article__right{% if post.image_thumb %}{% else %} -noimg{% endif %}">
            <span class="article__category">{{ post.categories }}</span>
            <h2 class="article__title" itemprop="name">
                <a href="{{ post.url | absolute_url }}" class="article__link" itemprop="url">
                    {% if post.pretag %}{{ post.pretag }} - {% endif %}{{ post.title }}
                </a>
            </h2>
            <p class="article__lead">{% if post.leading %}{{ post.leading }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
            <div class="article__bar">
                <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: "%b %d, %Y" }}</time>
                <div class="article__author">oleh: <a href="/about">{{ post.author }}</a></div>
            </div>
        </div>
    </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <!-- paging -->
    <div class="paging clearfix">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | absolute_url }}" class="paging__link paging__link--active">Sebelumnya</a>
        {% else %}
        <span class="paging__link paging__link--disabled">Sebelumnya</span>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | absolute_url }}" class="paging__link paging__link--active">Berikutnya</a>
        {% else %}
        <span class="paging__link paging__link--disabled">Berikutnya</span>
        {% endif %}
    </div>
    {% endif %}

{% else %}

    <p>Tidak ada arsip yang tersedia</p>

{% endif %}