
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	@include font-pack($font_body, 14px, 400, 1.3, $color_primary);
	background: $bg_base;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	margin: 0;
	padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
	vertical-align: top;
	outline:0;
	@include transition(all .2s ease);
	&:hover {
		color: $color-kcm-blue;
		// color: $color_secondary;
		text-decoration: none;
	}
}
a:focus,
button:focus {
	outline: 0;
	outline: -webkit-focus-ring-color auto 0;
	outline-offset: 0
}
img {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: top;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
table {
	border-collapse: collapse;
}
iframe {
	border: none;
	vertical-align: top;
}
video {
	vertical-align: top;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
input,
button,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

input:focus {
	outline: 0;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
	color: transparent;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	@include font-pack(false, 14px, 400, false, false);
}

