.clearfix {
	*zoom: 1;
	&:after,
	&:before {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}
.container {
    width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $grid-gutter-width-edge;
	padding-left: $grid-gutter-width-edge;
	*zoom: 1;
	position: relative;
    @include min-responsive($screen-lg-desktop) {
	    width: $screen-lg-desktop;
    }
	&__gen {
		width: 100%;
		@include min-responsive(990px) {
			width: 990px;
		}
	}

}
.col-offset-fluid {
	margin-right: -$grid-gutter-width-edge;
	margin-left: -$grid-gutter-width-edge;
}
.col-offset-0 {
	padding-right: 0px;
	padding-left: 0px;
}
.col-offset-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.col-flex {
	@include display-flex();
}