<!-- footer -->
<footer class="footer">
    <div class="container clearfix">
        <div class="footer__copy">
            &copy; {{ site.time | date: '%Y' }}. Dibuat pake <a href="http://jekyllrb.com" target="_blank">Jekyll</a>, ditampung di <a href="https://khoirul_huda@bitbucket.org/khoirul_huda/gakpaketelor.git" target="_blank">Bitbucket</a>, dan disebarin <a href="https://www.netlify.com/" target="_blank">Netlify</a>. 
        </div>
    </div>
</footer>
