<div class="header__gen">
	<div class="header__gen__logo">
		<img src="https://asset.kompas.com/data/2018/pilkada/images/logo-kompascom-jmd.png" alt="">
	</div>
	<!-- nav -->
	<nav class="nav nav--gen clearfix">
		<div class="container clearfix">
			<ul class="nav__wrap clearfix">
				<li class="nav__item"><a href="{{ site.url }}/gen-project/" class="nav__link {% if page.active == 'gen-project' %}nav__link--active{% endif %}">Beranda</a></li>
				<li class="nav__item"><a href="{{ site.url }}/kenali-paslon/" class="nav__link {% if page.active == 'kenali-paslon' %}nav__link--active{% endif %}">Kenali Paslon</a></li>
			</ul>
		</div>
	</nav>
</div>
