
<!-- header -->
<header class="header">
    <div class="header__img picturefill-background clearfix">
        <span data-src="{{ './asset/images/gakpaketelor-caspar-rubin-224229-unsplash_m.jpg' | absolute_url }}"></span>
		<span data-src="{{ './asset/images/gakpaketelor-caspar-rubin-224229-unsplash.jpg' | absolute_url }}" data-media="(min-width: 700px)"></span>
        <div class="header__title">
            <a href="{{ site.url }}" class="header__link" role="link">gakpaketelor</a>
        </div>
        <div class="header__credit">Foto oleh <a href="https://unsplash.com/@casparrubin" target="_blank">Caspar Rubin</a> dari <a href="https://unsplash.com" target="_blank">Unsplash</a></div>
    </div>
    <div class="header__brand clearfix">
        <div class="header__avatar">
            <a href="{{ site.url }}/about/" role="link"><img src="{{ './asset/images/gakpaketelor-avatar-mohammad-khoirul-huda.jpg' | absolute_url }}" alt="Mohammad Khoirul Huda" width="100" height="100"></a>
        </div>
        
        <!-- nav -->
        <nav class="nav clearfix">
            <div class="container clearfix">
                <ul class="nav__wrap clearfix">
                    <li class="nav__item"><a href="{{ site.url }}/" class="nav__link {% if page.active == 'blog' %}nav__link--active{% endif %}">Beranda</a></li>
                    <li class="nav__item"><a href="{{ site.url }}/design/" class="nav__link {% if page.active == 'design' %}nav__link--active{% endif %}">#UIUX</a></li>
                    <li class="nav__item"><a href="{{ site.url }}/covid19/" class="nav__link {% if page.active == 'covid19' %}nav__link--active{% endif %}">#Covid19</a></li>
                    <li class="nav__item"><a href="{{ site.url }}/30haribercerita/" class="nav__link {% if page.active == '30haribercerita' %}nav__link--active{% endif %}">#30HariBercerita</a></li>
                    <li class="nav__item"><a href="{{ site.url }}/about/" class="nav__link {% if page.active == 'about' %}nav__link--active{% endif %}">Tentang</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
