<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="gakpaketelor">
    <meta name="description" content="{% if post.leading %}{{ post.leading }}{% endif %}{% if page.leading %}{{ page.leading }}{% else %}{{ site.description }}{% endif %}">
    
    <title>{% if page.title %}{{ page.title }}{% else %}{% if page.active %}{{ page.active }} - {% endif %}{{ site.title }}{% endif %}</title>
    
    <meta name="googlebot-news" content="index, follow, follow" />
    <meta name="googlebot" content="index, follow, follow" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="id" />
    <meta name="geo.country" content="id" />
    <meta http-equiv="content-language" content="In-Id" />
    <meta name="geo.placename" content="Indonesia" />
    
    <meta property="og:type" content="article" />
    <!-- s: fb meta -->  
    <meta property="fb:app_id" content="3683725108323060" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{% if page.active %}{{ page.active }} - {% endif %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if post.leading %}{{ post.leading }}{% endif %}{% if page.leading %}{{ page.leading }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ './asset/images/gakpaketelor-avatar-mohammad-khoirul-huda.jpg' | absolute_url }}{% endif %}" />
    <!-- S:tweeter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ilurr" />
    <meta name="twitter:creator" content="@ilurr">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{% if page.active %}{{ page.active }} - {% endif %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if post.leading %}{{ post.leading }}{% endif %}{% if page.leading %}{{ page.leading }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ './asset/images/gakpaketelor-avatar-mohammad-khoirul-huda.jpg' | absolute_url }}{% endif %}" />
    <!-- E:tweeter card -->
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ './asset/images/apple-icon-57x57.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ './asset/images/apple-icon-60x60.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ './asset/images/apple-icon-72x72.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ './asset/images/apple-icon-76x76.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ './asset/images/apple-icon-114x114.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ './asset/images/apple-icon-120x120.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ './asset/images/apple-icon-144x144.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ './asset/images/apple-icon-152x152.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ './asset/images/apple-icon-180x180.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ './asset/images/android-icon-192x192.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ './asset/images/favicon-32x32.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ './asset/images/favicon-96x96.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ './asset/images/favicon-16x16.png' | absolute_url }}">
    <link rel="manifest" href="{{ './asset/images/manifest.json' | absolute_url }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="preload" href="{{ './asset/css/gpt-style.css' | absolute_url }}" as="style">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i,900|Bellefair|Ubuntu:700&display=swap" as="style">
    <link rel="stylesheet" href="{{ './asset/css/gpt-style.css' | absolute_url }}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i,900|Bellefair|Ubuntu:700&display=swap">
    <link rel="preload" as="image" href="{{ './asset/images/gakpaketelor-caspar-rubin-224229-unsplash.jpg' | absolute_url }}">
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114774897-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114774897-1');
</script>
    
</head>
