<aside class="rightside clearfix">
    
    <!-- tags -->
    <div class="tags clearfix">
       <div class="tags__title">Tags</div>
        <ul class="tags__wrap clearfix">
            {% for tag in site.tags %}
            <li class="tags__item">
               {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <a href="{{ tag_name | relative_url }}" class="tags__link">
                    {{ tag_name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- tags -->
</aside>