.article {
    position: relative;
    &__item {
        position: relative;
        padding: 20px 0;
        //margin: 20px 0 30px;
        border-bottom: 1px solid rgba(0,0,0,.05);
        @include min-responsive($screen-tablet) {
            padding: 30px 0;
        }
    }
    &__category {
        display: block;
        padding: 0;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        @include font-pack(false, 12px, false, false, rgba(0,0,0,.54));
    }
    &__title {
        margin: 5px 0;
        @include font-pack(false, 20px, 900, false, false);
        @include min-responsive($screen-tablet) {
            font-size: 24px;
        }
    }
    &__lead {
        margin: 5px 0;
        @include font-pack(false, false, false, false, false);
        @include title_overflow(auto, 56px);
        @include min-responsive($screen-tablet) {
            @include title_overflow(auto, 74px);
        }
    }
    &__date {
        padding: 2px 0 3px;
        @include font-pack(false, 12px, false, false, #8c8c8c);
    }
    &__img {
        width: 80px;
        height: 80px;
        margin-top: 18px;
        margin-left: 15px;
        background-size: cover;
        float: right;
        @include min-responsive($screen-tablet) {
            width: 125px;
            height: 125px;
            margin-top: 0;
            margin-left: 15px;
        }
    }
    &__link {
        display: block;
        @include transition(all .2s ease);
        &:hover {
            color: #000;
            text-decoration: underline;
            // box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
        }
    }
    &__author {
        position: relative;
        display: inline-block;
        padding: 2px 0 3px;
        @include font-pack(false, 12px, false, false, #ccc);        
        &:before {
            content: '•';
            padding: 0 5px 0 3px;
        }
        a {
            color: $color_kcm_blue;
            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
}