.calon {
	position: relative;
	&__wrapper {
		padding: 20px 15px;
	}
	&__box {
		position: relative;
		h3 {
			font-weight: 700;
			font-size: 20px;
		}
	}
	&__item {
		margin: 25px 0px ;
		p {
			margin: 5px 0;
		}
		.kaya {
			font-size: 18px;
			font-weight: 700;
			color: #00af00;
		}
	}
}