.covid {
	position: relative;
	&__box {
		padding: 0;
        margin: 0 -15px;
        @include min-responsive(820px) {
            margin: 0 -100px;
		}
		h3 {
			text-align: center;
			padding: 15px 0 0;
			@include font-pack(false, 18px, 700, false, false);
		}
		button {
			text-align: center;
			margin: 10px auto 0;
			padding: 6px 12px;
			display: block;
			border-radius: 6px;
			box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
			background-color: #3CA5DD;
			border: 1px solid #3CA5DD;
			outline: 0;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
			font-size: 12px;
			font-weight: 400;
			line-height: 1.42857;
			color: #fff;
		}
	}
	&__chart {
		background: #f0f0f0;
	}
	&__latest {
		position: relative;
		padding: 10px 0;
		flex-wrap: wrap;
		margin: 0;
        @include min-responsive(820px) {
            margin: 0 -100px;
		}
	}
	&__col {
		position: relative;
		width: calc(100%);
		padding: 15px;
		text-align: center;
		@include font-pack(false, 50px, 700, 1, #fff);
		@include min-responsive($screen-tablet) {
			width: calc(100% / 3);
		}
		span {
			display: block;
			padding: 0 0 5px;
			@include font-pack(false, 14px, 600, 1.5, false);
		}
		i {
			display: block;
			font-style: normal;
			padding: 5px 0 0;
			@include font-pack(false, 14px, 400, 1.5, false);
		}
		&.-total {
			background: #FE9B44;
		}
		&.-health {
			background: #44C644;
		}
		&.-gone {
			background: #F24E4E;
		}
		&.-date {
			padding: 10px 0 0;
			width: 100%;
			color: #000;
			background: #dbdfe4;
		}
	}
	&__canvas {
		padding: 10px 0;
		canvas {
			margin: 0 15px 0 0;
			@include min-responsive($screen-tablet) {
				margin: 0;
			}
		}
		&.-chart1 {
			// height: 200vh;
			overflow-y: scroll;
		}
		&.-chart2 {
			overflow-y: scroll;
		}
		&.-chart3 {
			overflow-y: scroll;
		}
		&.-chart4 {
			overflow-y: scroll;
		}
		&.-chart-prov-total {
			height: 700px;
		}
	}
}
