.gen {
	position: relative;
	text-align: center;
	padding: 0 0 20px;
	&__title {
		position: relative;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
		font-size: 24px;
		padding: 5px 10px;
		width: auto;
		margin: 0 auto;
		display: inline-block;
		background: #f00;
		color: #fff;
		line-height: 1;
		border-radius: 5px;
        @include min-responsive(820px) {
			font-size: 40px;
        }
	}
	&__lead {
		padding: 0 20px;
	}
	&__subtitle {
		position: relative;
		padding: 5px 0 15px;
		font-size: 14px;
		font-weight: 700;
        @include min-responsive(820px) {
			font-size: 18px;
        }
	}
	&__img {
		width: 100px;
		display: inline-block;
		position: absolute;
		width: 50px;
		display: inline-block;
		position: absolute;
		left: -40px;
		top: -20px;
		transform: rotate(-15deg);
		webkit-transform: rotate(-5deg);
	}
}