.maps {
	&__canvas {
		width: 100%;
		height: 400px;
		margin: 0 0 20px;
	}
	&__legend {
		padding: 5px;
		min-width: 175px;
		&__title {
			font-size: 15px;
			font-weight: 700;
			margin: 3px 0 5px;
		}
	}
	&__label {
		display: block;
		padding: 2px 0;
		font-size: 12px;
		position: relative;
		cursor: pointer;
		input {
			margin-right: 5px;
			vertical-align: middle;
		}
	}
	&__icon {
		position: absolute;
		top: 2px;
		right: 0;
		width: 12px;
		height: 12px;
		border-radius: 12px;
		background: #f00; 
		&--kab {
			background: blue;
		}
		&--prov {
			background: orange;
		}
	}
	&__info {
		&__title {
			font-size: 14px;
			font-weight: 700;
		}
		&__content {
			font-size: 12px;
			& span {
				font-size: 16px;
				font-style: italic;				
				font-weight: 700;
				color: #f00;
			}
			& strong {
				font-weight: 700;
			} 
		}
	}
	&__start {
		padding: 5px 7px;
		display: inline-block;
		background: #ff3232;
		border-radius: 4px;
		color: #fff;
		font-weight: 700;
		font-size: 15px;
		&:hover {
			color: #fff;
			background: darken(#ff3232, 25%)
		}
	}
}