.nav {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 40px;
        right: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		@include min-responsive(650px) {
            display: none;
        }
    }
    // &:before {
    //     content: '';
    //     position: absolute;
    //     width: 50px;
    //     height: 40px;
    //     left: 0;
    //     top: 0;
    //     z-index: 1;
    //     pointer-events: none;
    //     background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	// 	@include min-responsive(650px) {
    //         display: none;
    //     }
    // }
    &__wrap {
        position: relative;
        display: block;
        overflow-y: hidden;
        margin: 0 -15px;
        padding: 0 5px;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        border-bottom: 1px solid rgba(0,0,0,.1);
		@include min-responsive(650px) {
            margin: 0 auto;
			overflow-x: hidden;
		}
    }
    &__item {
        display: inline-block;
        padding: 0 10px;
        position: relative;
        &:after {
            content: '•';
            position: absolute;
            right: -4px;
            top: 11px;
        }
        &:last-child {
            &:after {
                content: '';
            }
            margin-right: 20px;
        }
    }
    &__link {
        display: block;
        padding: 10px 2px;
        @include font-pack($font_body, 16px, 400, false, false);
        &--active {
            font-weight: 700;
            border-bottom: 1px solid rgba(0,0,0,.54);
        }
    }
	&--gen {
		background: #fff;
		margin: 0 0 20px;
	}
}