.paging {
    position: relative;
    text-align: center;
    padding: 30px 0;
    &__link {
        display: inline-block;
        padding: 5px 10px;
        background: rgba(0,0,0,0.05);
        border-radius: 20px;
        @include font-pack(false, 14px, 400, false, #000);
        &--active {
            background: $color_kcm_blue;
            color: #fff;
            font-weight: 500;
            &:hover {
                color: #fff;
                background: darken($color_kcm_blue, 10%);
            }
        }
        &--disabled {
            color: rgba(0,0,0,0.2);
        }
    }
}