.quiz {
	position: relative;
	&__wrapper {
		position: relative;
//		min-height: 100vh;
		padding: 0;
		width: 100%;
		height: 100%;
	}
	&__header {
		position: relative;
		font-weight: 700;
		font-size: 16px;
		display: inline-block;
		background: #333;
		padding: 5px 8px;
		color: #fff;
		border-radius: 4px;
	}
	&__opening {
		position: absolute;
		visibility: hidden;
		text-align: center;
		opacity: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: #fff;
		padding: 0 20px;
		&.active {
			visibility: visible;
			opacity: 1;
		}
		& h3 {
			text-align: center;
			font-size: 20px;
			font-weight: 700;
		}
	}
	&__question {
		padding: 10px 0;
		font-size: 20px;
	}
	&__word {
		text-align: center;
		padding: 10px 0;
	}
	&__img {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 5px;
		background: #000;
		@include min-responsive(650px) {
			width: 70%;
			margin: 0 auto;
		}
	}
	&__item {
		position: absolute;
		visibility: hidden;
		width: 100%;
		height: 100%;
		opacity: 0;
		&.active {
			visibility: visible;
			opacity: 1;
		}
		@include max-responsive(650px) {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
	&__pilihan {
		padding: 20px 0;
		text-align: center;
	}
	&__penjelasan {
		text-align: center;
		font-size: 16px;
		display: none;
		&.active {
			display: block;
		}
		& .status {
			font-weight: 700;
			background: #000;
			padding: 3px 5px;
			display: inline-block;
			color: #fff;
		}
		& .status.benar {
			background: #14ea00;
		}
		& .status.salah {
			background: #f00;
		}
		& .hoaks {
			padding: 3px 5px;
			font-weight: 700;
			background: #333;
			color: #fff;
			text-transform: uppercase;
			display: inline-block;
		}
		& .titlelink {
			display: block;
			padding: 6px 0;
			text-decoration: underline;
			font-weight: 500;
			color: #f00;
			font-size: 18px;
		}
	}
	&__lanjut {
		display: none;
		padding: 0 0 30px;
		&.active {
			display: block;
		}
	}
	&__button {
		display: inline-block;
		border-radius: 5px;
		padding: 7px 14px;
		margin: 0 10px;
		font-size: 20px;
		background: #14ea00;
		font-weight: 600;
		color: #000;
		&--hoax {
			background: #f00;
		}
		&:hover {
			color: #fff;
		}
		&__laporkan {
			display: inline-block;
			padding: 6px 10px;
			background: #f00;
			border: 1px solid #fff;
			color: #fff!important;
			font-weight: 700;
			text-decoration: none!important;
			border-radius: 5px;
			font-size: 16px;
		}
	}
	&__penjelasan {
		padding: 20px 0;
		text-align: center;
		a {
			display: block;
			padding: 3px 0;
			text-decoration: underline;
			font-weight: 500;
		}
	}
	&__lanjut {
		text-align: center;
		position: relative;
	}
	&__lnjt {
		display: inline-block;
		border-radius: 5px;
		padding: 7px 14px;
		margin: 0 10px;
		font-size: 16px;
		background: #00c1e4;
		font-weight: 600;
		color: #000;
		&:hover {
			color: #fff;
		}
	}
	&__result {
		display: inline-block;
		border-radius: 5px;
		padding: 7px 14px;
		margin: 0 10px;
		font-size: 20px;
		background: #00c1e4;
		font-weight: 600;
		color: #000;
		&:hover {
			color: #fff;
		}
		&__yey {
			color: #fff;
			background: #313131;
			display: inline-block;
			padding: 8px 13px;
			font-weight: 700;
			border-radius: 10px;
			font-size: 19px;
		}
		&__box {
			background: #04a0a8;
			box-shadow: 10px 10px 0px #308399;
			padding: 20px;
			margin: 0;
			p {
				color: #fff;
				font-weight: 400;
				font-size: 16px;
				margin: 5px 0 10px;
			}
			span {
				font-weight: 700;
				font-size: 24px;
			}
			a {
				text-decoration: underline;
				color: #000;
				font-weight: 700;
			}
		}
		&__share {
			background: #3b5998;
			color: #000;
			width: auto;
			border-radius: 10px;
			font-size: 16px;
			padding: 5px 10px;
			margin: 5px auto;
			display: block;
			width: 100px;
			text-align: center;
			color: #fff!important;
			text-decoration: none!important;
		}
	}
	&__lagi {
		background: #fff;
		//color: #000!important;
		width: auto;
		border-radius: 10px;
		font-size: 16px;
		padding: 5px 10px;
		margin: 5px auto;
		display: block;
		width: 100px;
		text-align: center;
		color: #000!important;
		text-decoration: none!important;
	}
}