.social {
	&__article {
		padding: 20px 0;
		margin: -7px 0 0;
	}
	&__title {
		display: inline-block;
		padding: 0 5px 0 0;
		vertical-align: middle;
//		text-transform: uppercase;
        @include font-pack(false, 14px, 400, false, false);
	}
	&__item {
		display: inline-block;
		margin: 0 3px;
		vertical-align: middle;
	}
	&__link {
		display: inline-block;
		width: 35px;
		height: 35px;
		border-radius: 35px;
		padding: 8px;
		background: #fff;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		text-align: center;
		&--facebook {
			background-color: $color_facebook;
		}
		&--twitter {
			background-color: $color_twitter;
		}
		&--whatsapp {
			background-color: $color_whatsapp;
		}
		&--linkedin {
			background-color: $color_linkedin;
		}
		&--line {
			background-color: $color_line;
		}
	}
}