.topic {
	&__header {
		position: relative;
		background: #d5f5ff;
		padding: 30px 15px;
		margin: 0 -15px 10px;
		@include min-responsive(820px) {
			padding: 30px 90px;
			margin: 0 -90px 10px;
		}
	}
	&__title {
		margin: 0 0 10px;
        @include font-pack(false, 22px, false, false, false);		
	}
	&__lead {
		margin: 0;
        @include font-pack(false, 14px, 300, 1.5, false);
		a {
			text-decoration: underline;
			font-weight: 400;
			color: #000;
			&:hover {
				text-decoration: none;
			}
		}
	}
}