<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

{% include header.html %}

<!-- content -->
<section class="container clearfix">
   
   <div class="main clearfix">
       <div class="main__content clearfix">
			<h2>Tentang</h2>
			<p>Halo, nama Mohammad Khoirul Huda. Sehari-hari bekerja menggantung di antara dunia desain dan kode-kode pemrograman.</p>
			<p>Di blog ini sebenernya dulu rencananya mau diisi dengan bacaan topik UI/UX gitu, tapi berhubung belum sempat<span style="text-decoration: line-through">(males nulis)</span> jadinya belum terealisasi sampai sekarang. Nah daripada kosong sementara diisi dengan beberapa postingan tulisan random dari #30HariBercerita.</p>
      		<p>Oya, kali ada yang pengen kenal, di dunia nyata bisa dijumpai di sekitaran pedestrian Palmerah arah halte Slipi Petamburan atau arah stasiun Palmerah.</p>
			<p>Nah, kalo di dunia maya bisa diikuti di <a href="https://twitter.com/ilurr" target="_blank">twitter</a>, <a href="https://www.instagram.com/gakpaketelor/" target="_blank">instagram</a>, <a href="#" target="_blank"><span style="text-decoration: line-through">friendster</span></a>, <a href="https://www.linkedin.com/in/ilurr/" target="_blank">linkedin</a>, kalo <a href="https://facebook.com/ilurrr" target="_blank">facebook</a> nggak usah lah ya, percuma jarang buka.</p>
		  	<p>Terima kasih banyak.</p>
       </div>
		{% include comment.html %}
   </div>

</section>
    
{% include footer.html %}
    
</body>

{% include js.html %}
</html>
