<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

{% include header.html %}

<!-- content -->
<section class="container clearfix">
   
   <div class="main main__list clearfix">
       {{ content }}
   </div>
</section>
    
{% include footer.html %}
    
</body>

{% include js.html %}
</html>
