<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

{% include header-gen.html %}

<!-- content -->
<section class="container container__gen clearfix">

	<div class="main main__gen2 clearfix">
		<div class="gen">
			<div class="gen__title">
				<div class="gen__img">
					<img src="{{ './asset/gen_images/hand.png' | absolute_url }}" alt="">
				</div>
				<span>SAY NO TO HOAX</span>
			</div>
			<div class="gen__subtitle">Buktikan kamu tidak terjebak hoaks seputar Pilkada!</div>
			<div class="gen__lead">Klik daerah yang kamu pilih dan mainkan kuisnya.</div>
		</div>
		<div id="map-canvas" class="maps__canvas"></div>
	</div>
</section>
    
{% include footer-gen.html %}
    
{% include js-gen.html %}
<!-- s: maps -->
<script type="text/javascript" src="{{ './asset/js/data.json' | absolute_url }}"></script>
<script type="text/javascript" src="{{ './asset/js/peta.js' | absolute_url }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG0uJ93SBh780AHs0bFXtscFAvMZwhOQE&callback=bukaPeta"></script>
<!-- e: maps -->
</body>
</html>
