<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

{% include header-gen.html %}

<!-- content -->
<section class="container clearfix">

	<div class="main main__gen clearfix">
		<div class="calon__wrapper" id="kenali"></div>
		<a href="/kenali-paslon/" class="quiz__lnjt">Calon daerah lainnya</a>
	</div>
</section>
    
{% include footer-gen.html %}
    
{% include js-gen.html %}
<script type="text/javascript" src="{{ './asset/js/data.json' | absolute_url }}"></script>
<script src="{{ './asset/js/main-calon.js' | absolute_url }}"></script>
</body>
</html>
