<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

{% include header.html %}

<!-- content -->
<section class="container clearfix">
	<div class="main clearfix">
		<h1 class="main__title">{% if page.pretag %}{{ page.pretag }} - {% endif %}{{ page.title }}</h1>
		<div class="main__topbar">
			<time class="article__date" datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</time>
			<div class="article__author">Oleh: <a href="/about">{{ page.author }}</a></div>
		</div>
		<!-- share -->
		<div class="social social__article clearfix">
			<div class="social__title">Share: </div>
			<div class="social__item"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="social__link social__link--facebook"><span class="icon icon--facebook"></span></a></div>
			<div class="social__item"><a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }} by &#64;{{ page.author }}&url={{site.url}}{{page.url}}" class="social__link social__link--twitter"><span class="icon icon--twitter"></span></a></div>
			<div class="social__item"><a target="_blank" href="whatsapp://send?text={{ page.title }} {{site.url}}{{page.url}}" class="social__link social__link--whatsapp"><span class="icon icon--whatsapp"></span></a></div>
			<div class="social__item"><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{ page.title }}&source=gakpaketelor" class="social__link social__link--linkedin"><span class="icon icon--linkedin"></span></a></div>
			<div class="social__item"><a target="_blank" href="https://social-plugins.line.me/lineit/share?url={{ page.title }}{{site.url}}{{page.url}}" class="social__link social__link--line"><span class="icon icon--line"></span></a></div>
		</div>
		{% if page.image %}
		<div class="main__img">
			<img src="{{ page.image | absolute_url }}" alt="{{ page.title }}">
			<div class="main__img__credit">
				{{ page.image_credit }}
			</div>
		</div>
		{% endif %}
		
		<article class="main__content clearfix">
			{{ content }}
		</article>
		
		<!-- share -->
		<div class="social social__article clearfix">
			<div class="social__title">Share: </div>
			<div class="social__item"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="social__link social__link--facebook"><span class="icon icon--facebook"></span></a></div>
			<div class="social__item"><a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{site.url}}{{page.url}}" class="social__link social__link--twitter"><span class="icon icon--twitter"></span></a></div>
			<div class="social__item"><a target="_blank" href="whatsapp://send?text={{ page.title }} {{site.url}}{{page.url}}" class="social__link social__link--whatsapp"><span class="icon icon--whatsapp"></span></a></div>
			<div class="social__item"><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{ page.title }}&source=gakpaketelor" class="social__link social__link--linkedin"><span class="icon icon--linkedin"></span></a></div>
			<div class="social__item"><a target="_blank" href="https://social-plugins.line.me/lineit/share?url={{ page.title }}{{site.url}}{{page.url}}" class="social__link social__link--line"><span class="icon icon--line"></span></a></div>
		</div>
		
		{% include comment.html %}
		
	</div>
</section>

{% include footer.html %}

</body>

{% include js.html %}
{% if page.js %}
{% for inc in page.js %}
<script defer src="{{ inc | absolute_url }}" type="text/javascript"></script>
{% endfor %}
{% endif %}
</html>
