<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

{% include header-gen.html %}

<!-- content -->
<section class="container clearfix">

	<div class="main main__gen clearfix">
		<div class="quiz__wrapper" id="quiz"></div>
	</div>
</section>
    
{% include footer-gen.html %}
    
{% include js-gen.html %}
<script type="text/javascript" src="{{ './asset/js/dataquestion.json' | absolute_url }}"></script>
<script type="text/javascript" src="{{ './asset/js/datacalon.json' | absolute_url }}"></script>
<script src="{{ './asset/js/main-quiz.js' | absolute_url }}"></script>
</body>
</html>
