.footer {
    position: relative;
    padding: 40px 0;
    margin: 40px 0 0;
    background: rgba(0,0,0,.88);
    &__copy {
        @include font-pack($font_body, 13px, 300, false, #fff);
        text-align: center;
        a {
            font-weight: 700;
            color: darkorange;
            &:hover {
                color: orange;
            }
        }
    }
	&__gen {
		margin: 20px 0 0;
		position: relative;
		padding: 20px 0;
		text-align: center;
		background: #000;
		color: #fff;
	}
}