// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.header {
    position: relative;
    width: 100%;
    &__credit {
        position: absolute;
        z-index: 2;
        right: 5px;
        bottom: 5px;
        padding: 6px 10px;
        border-radius: 20px;
        background: rgba(0,0,0,.4);
        opacity: 0;
        @include transition(all .2s ease);
        @include font-pack($font_body, 12px, false, false, #fff);
        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                text-align: none;
            }
        }
    }
    &__img {
        position: relative;
        width: 100%;
        z-index: 1;
        height: 40vh;
        background-size: cover;
        background-position: center center;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.2);
            z-index: 1;
        }
        &:hover {
            .header__credit {
                background: rgba(0,0,0,.8);
                opacity: 1;
            }
        }
    }
    &__brand {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 60px;
        @include min-responsive($screen-tablet) {
            padding-top: 70px;
        }
    }
    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-right: -50px;
        top: -65px;
        border: 2px solid #fff;
        overflow: hidden;
        position: absolute;
        right: 50%;
        z-index: 1;
        box-shadow: 0px 1px 6px rgba(0,0,0,.6);
        @include min-responsive($screen-tablet) {
            width: 150px;
            height: 150px;
            border-radius: 150px;
            margin-right: -75px;
            top: -90px;
        }
    }
    &__title {
        margin: -40px 0 0;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 2;
        text-align: center;
        @include font-pack($font_title, 40px, false, 1, #fff);
        @include min-responsive($screen-tablet) {
            margin: -80px 0 0;
            font-size: 80px;
        }

    }
    &__link {
        display: inline-block;
        &:hover {
            color: #fff;
        }
    }
	// gen project nitip
	&__gen {
		position: relative;
		background: #000;
		padding: 0;
		text-align: center;
		&__logo {
			padding: 10px 0;
			img {
				height: 35px;
			}
		}
	}
}
