.main {
    position: relative;
    margin: 30px 0;
    &__title {
        margin: 10px 0;
        @include font-pack(false, 36px, 700, false, false);
    }
    &__content {
        position: relative;
        h2 {
            margin: 40px 0 15px;
            @include font-pack(false, 26px, 700, false, false);
        }
        h3 {
            margin: 30px 0 15px;
            @include font-pack(false, 19px, 700, false, false);
        }
        p {
            @include font-pack(false, 16px, 400, 1.6, false);
            @include min-responsive($screen-tablet) {
                font-size: 16px;
            }
            @include min-responsive(1600px) {
                font-size: 18px;
            }
        }
        a {
            color: $color_kcm_blue;
			text-decoration: underline;
            &:hover {
                color: #000;
            }
        }
        ul, ol {
            margin: 15px 0;
            list-style: disc;
            padding: 0 0 0 20px;       
        }
        ol {
            list-style: decimal;
        }
        li {
            list-style: inherit;
            display: list-item;
            margin: 10px 0;
            font-size: 16px;
        }
		& > p {
			&:first-child:first-letter {
				font-size: 90px;
				line-height:1;
				float:left;
                line-height: .75;
                padding-top: 5px;
                padding-right: 10px;
                font-weight: 700;
            }
		}
    }
    &__img {
        margin: 0 -15px;
        padding: 20px 0;
        @include min-responsive(820px) {
            margin: 0 -100px;
        }
        &__credit {
            text-align: center;
            padding: 10px 5px 0;
            font-style: italic;
            @include font-pack(false, 12px, 300, false, false);
			@include min-responsive($screen-tablet) {
	            padding: 10px 0 0;
			}
        }
    }
	&__topbar {
		padding: 10px 0;
	}
	&__gen {
		margin: 0;
		//width: 100%;
		height: 100%;
	}
	&__gen2 {
		margin: 0 -15px;
		//width: 100%;
		height: 100%;
	}
}