


// background
$bg_base: #fff;





// font
$font_vik: 'Black Ops One', cursive;
$font_vik2: 'Open Sans',sans-serif;
$font_body: 'Nunito Sans', sans-serif;
// $font_body: 'Montserrat', sans-serif;
$font_body: 'Source Sans Pro', sans-serif;
$font_body: 'Roboto', sans-serif;
$font_body2: 'Roboto Condensed', sans-serif;
$font_icon: 'icomoon';





// color palette
$color_primary: #2a2a2a;
$color_secondary: #000;

// color kcm
$color_kcm_orange: #E55225;
$color_kcm_orange_light: #EF9021;
$color_kcm_blue: #3CA5DD;
$color_kcm_blue_light: #71C4D6;
$color_kcm_green: #2EAC71;
$color_kcm_green_light: #B6CC33;

// color channel
$color_kcm_news: #E55225;
$color_kcm_ekonomi: #E55225;
$color_kcm_bola: #0db24b;
$color_kcm_tekno: #bad107;
$color_kcm_entertainment: #25afe5;
$color_kcm_otomotif: #fb0404;
$color_kcm_health: #6F9F31;
$color_kcm_lifestyle: #DF286D; // female
// $color_kcm_lifestyle: #00a783; // lifestyle
$color_kcm_properti: #b57c29;
$color_kcm_travel: #00bcd4;
$color_kcm_edukasi: #E55225;
$color_kcm_opini: #E55225;
$color_kcm_lensa: #bdbdbd;
$color_kcm_tv: #bdbdbd;
$color_kcm_vik: #bdbdbd;

// color god network
$color_kompas: #005496;
$color_juara: #f00;
$color_otomania: #c30000;
$color_kompasiana: #3dc3e0;
$color_gramedia: #2EAC71;
$color_pijaru: #ea5329;

// color ads
$color_brandzview: #3CA5DD;
$color_advertorial: #3CA5DD;

// color sosmed
$color_facebook: #3b5998;
$color_twitter: #1da1f2;
$color_google_plus: #dd4b39;
$color_whatsapp: #25d366;
$color_line: #00c300;
$color_path: #ee3423;
$color_linkedin: #0077b5;
$color_pinterest: #bd081c;
$color_youtube: #cd201f;
$color_instagram: #c13584;




// font size template
$size_small: 12.32px;
$ms-base: 1em;
$ms-ratio: 1.333;





// bootstrap
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
// $screen-md:                  992px !default;
$screen-md:                  1024px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1100px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              10 !default;
$grid-columns-9:            9 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         20px !default;
$grid-gutter-width-edge:    10px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (760px + $grid-gutter-width-edge) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
// $container-desktop:            (940px + $grid-gutter-width-edge) !default;
$container-desktop:            (1010px + $grid-gutter-width-edge) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1160px + $grid-gutter-width-edge) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;
